#uncomment the parameters below, and set for your APM environment

## on prem (Private)
#apmhost=<apmhostname>
#auth=<base_64 encoded user:password string for apm REST API>

## cloud (SaaS)
#apmhost=api.ibm.com
#auth=<base_64 encoded user:password string for apm REST API>
#clientid=<APM API "x-ibm-client-id" from "My APIs" link from API Explorer>
#clientsecret=<APM API "x-ibm-client-secret" from "My APIs" link from API Explorer>
#servicelocation=<"x-ibm-service-location" from "My APIs" link from API Explorer>
